@media only screen and (max-width: 1440px) {


.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ebebeb;
  height: 5000px;
  position: relative;
  overflow: hidden;
}
.group {
  opacity: 0.3;
  width: 22.24%;
  height: 35.37%;
  position: absolute;
  right: 17.97%;
  left: 59.79%;
  bottom: 20.92%;
  top: 43.71%;
  transform: translate(0px, -633.9px);
  overflow: visible;
}
.group2 {
  opacity: 0.3;
  width: 22.24%;
  height: 35.37%;
  position: absolute;
  right: -27.6%;
  left: 105.35%;
  bottom: 2.86%;
  top: 61.77%;
  transform: translate(-770.81px, -444.61px);
  overflow: visible;
}
.group3 {
  opacity: 0.3;
  width: 16.99%;
  height: 27.01%;
  position: absolute;
  right: 55.38%;
  left: 27.63%;
  bottom: 67.45%;
  top: 5.53%;
  transform: translate(-530.54px, -120.56px);
  overflow: visible;
}
.group4 {
  opacity: 0.3;
  width: 19.54%;
  height: 31.06%;
  position: absolute;
  right: 85.16%;
  left: -4.7%;
  bottom: 26.64%;
  top: 42.29%;
  transform: translate(90.22px, 0px);
  overflow: visible;
}
.group5 {
  opacity: 0.3;
  width: 19.54%;
  height: 31.06%;
  position: absolute;
  right: 49.23%;
  left: 31.23%;
  bottom: -36.34%;
  top: 105.28%;
  transform: translate(-552.11px, -697.86px);
  overflow: visible;
}
.frame-108 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 231px;
}
.frame-36 {
  background: #ffffff;
  border-radius: 50px;
  border-width: 1px;

  border-image: transparent;
  border-image-slice: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --card-shadow-box-shadow,
    0px 4px 40px 0px rgba(102, 61, 42, 0.07)
  );
}
.frame-35 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-2 {
  color: var(--color-grey-13, #222222);
  text-align: center;
  font-family: var(--font-family-font-1, "Inter-Medium", sans-serif);
  font-size: 42px;
  line-height: var(--line-height-35, 35px);
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-34 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-33 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-100 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div2 {
  color: var(--color-red-63, #ff4053);
  text-align: left;
  font-family: var(--font-family-font-1, "Inter-Regular", sans-serif);
  font-size: 16px;
  line-height: var(--font-size-16, 16px);
  font-weight: var(--font-weight-400, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 580px;
  height: 89px;
  position: relative;
        

}
.label {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-span {
  color: var(--color-red-63, #ff4053);
}
.text-span2 {
  color: var(--color-black-solid, #000000);
}
.input2 {
  background: var(--color-white-solid, #ffffff);
  border-radius: 26px;
  border-style: solid;
  border-color: var(--color-grey-80, #cccccc);
  border-width: 1px;
  padding: 8px 20px 8px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.frame-110 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-span {
  color: var(--color-red-63, #ff4053);
}
.text-span2 {
  color: var(--color-black-solid, #000000);
}
.frame-1002 {
  padding: 0px 6px 0px 6px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div3 {
  color: var(--color-grey-51, #828282);
  text-align: left;
  font-family: var(--font-family-font-1, "Inter-Regular", sans-serif);
  font-size: 16px;
  line-height: var(--font-size-16, 16px);
  font-weight: var(--font-weight-400, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-span {
  color: var(--color-red-63, #ff4053);
}
.text-span2 {
  color: var(--color-black-solid, #000000);
}
.text-span {
  color: var(--color-red-63, #ff4053);
}
.text-span2 {
  color: var(--color-black-solid, #000000);
}
.frame-111 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 580px;
  position: relative;
}
.input3 {
  background: var(--color-white-solid, #ffffff);
  border-radius: 32px 0px 0px 32px;
  border-style: solid;
  border-color: var(--color-grey-80, #cccccc);
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.div5 {
  color: var(--color-grey-46, #767676);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input4 {
  margin: 0 0 0 -1px;
  background: #ececec;
  border-radius: 0px 32px 32px 0px;
  border-style: solid;
  border-color: var(--color-grey-80, #cccccc);
  border-width: 1px;
  padding: 6px 20px 6px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: inset 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.heading-22 {
  color: var(--color-red-63, #ff4053);
  text-align: left;
  font-family: var(--font-family-font-1, "Inter-Medium", sans-serif);
  font-size: 16px;
  line-height: var(--line-height-35, 35px);
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  color: var(--color-black-solid, #000000);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-112 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1003 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input5 {
  background: var(--color-white-solid, #ffffff);
  border-radius: 2.5px;
  border-style: solid;
  border-color: var(--color-grey-46, #767676);
  border-width: 1px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.div6 {
  color: var(--color-grey-51, #828282);
          left: 0px;
        top: 0px;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-6-span {
}
.div-6-span2 {
  text-decoration: underline;
}
.frame-101 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div-6-span {
}
.div-6-span2 {
  text-decoration: underline;
}
.button {
  background: var(--color-grey-16, #282828);
  border-radius: 30px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div7 {
  color: var(--color-white-solid, #ffffff);
  text-align: right;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: var(--font-size-20, 20px);
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.frame-352 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-23 {
  color: var(--color-grey-13, #222222);
  text-align: center;
  font-family: var(--font-family-font-1, "Inter-Medium", sans-serif);
  font-size: 24px;
  line-height: var(--line-height-35, 35px);
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-1 {
  flex-shrink: 0;
  width: 21px;
  height: 0px;
  position: relative;
  overflow: visible;
}

.header {
          background: rgba(255, 255, 255, 0.6);
        border-radius: 46px;
        border-width: 1px;
        border-image-slice: 1;
        width: 92%;
        height: 89px;
        position: fixed;
        left: 25px;
        top: 42px;
        backdrop-filter: blur(7.5px);
}
.link-logo-o-svg {
          display: flex
;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: var(--width-40, 40px);
        max-height: var(--height-3123, 31.23px);
        position: absolute;
        left: 50px;
        top: 50%;
        translate: 0 -50%;
        overflow: hidden;
}
.logo-o-svg-fill {
  padding: 0px 0.01px 0px 0.01px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 31.23px;
  position: relative;
  overflow: hidden;
}
.logo-o-svg {
  flex-shrink: 0;
  width: 39.98px;
  height: 31.23px;
  position: relative;
  overflow: hidden;
}
.group18 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0.07px;
  overflow: visible;
}
.nav {
  visibility: hidden;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 15%;
  top: 50%;
  translate: 0 -50%;
      left: 50%;
    translate: -50%;
}
.list {
  display: flex;
  flex-direction: row;
  gap: var(--item-spacing-15, 15px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tab {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div42 {
  color: var(--color-grey-16, #282828);
  text-align: left;
  font-family: var(--font-family-font-1, "Inter-SemiBold", sans-serif);
  font-size: 16px;
  line-height: var(--line-height-24, 24px);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-9 {
          display: flex
;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        right: 15px;
        top: calc(50% - 19px);
}
.button10 {
  visibility: hidden;
  border-radius: 24px;
  border-style: solid;
  border-color: var(--color-grey-16, #282828);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.button10:hover{
  background-color: #CCCCCC;
}

.div43 {
  color: var(--color-grey-16, #282828);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.button11 {
  background: var(--color-orange-50, #ff6700);
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.main-contacts-icons {
    position: relative;
    display: inline-flex;
    gap: 4px;
}

.redir1{
    position: relative;
    float: left;
}

.redir1 .hoverImg {
   position: absolute;
      left: 0;
      top: 0;
      display: none;
}

.redir1:hover .hoverImg {
     display: block;
    
}


.redir1:hover .hoverImg {
    display: block;
    
}




.redir1{
    position: relative;
    float: left;
}

.redir1 .hoverImg {
   position: absolute;
      left: 0;
      top: 0;
      display: none;
}

.redir1:hover .hoverImg {
     display: block;
    
}


.redir1:hover .hoverImg {
    display: block;
    
}




.redir4{
    position: relative;
    float: left;
}

.redir4 .hoverImg3 {
   position: absolute;
      left: 0;
      top: 0;
      display: none;
}

.redir4:hover .hoverImg3 {
     display: block;
    
}


.redir4:hover .hoverImg3 {
    display: block;
    
}




.redir2{
    position: relative;
    float: left;
}

.redir2 .hoverImg1{
   position: absolute;
      left: 0;
      top: 0;
      display: none;
}

.redir2:hover .hoverImg1 {
     display: block;
    
}


.redir2:hover .hoverImg1 {
    display: block;
    
}



.redir3{
    position: relative;
    float: left;
}

.redir3 .hoverImg2 {
   position: absolute;
      left: 0;
      top: 0;
      display: none;
}

.redir3:hover .hoverImg2 {
     display: block;
    
}


.redir3:hover .hoverImg2 {
    display: block;
    
}



.div44 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown {
 
  position: relative;
  display: inline-block;
}



.dropdown-content {
  display: none;

  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 200px;
  color: var(--color-grey-16, #282828);
  border-radius: 30px;
  font-family: var(--font-family-font-1, "Inter-SemiBold", sans-serif);
  font-size: 20px;
  line-height: var(--line-height-24, 24px);
  margin-left: -100px;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  

}

.dropdown-content a:hover {
  background-color: #f1f1f1;
   border-radius: 30px;
}

.dropdown:hover .dropdown-content {
   border-radius: 30px;
  display: block;
}


.dropdown-btn {
     background-color: #ffffff;
  width: 50px;
  border-radius: 24px;
  border-style: solid;
  border-color: var(--color-grey-16, #282828);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: var(--color-grey-16, #282828);
  align-items: center;
  font-family: var(--font-family-font-1, "Inter-SemiBold", sans-serif);
  font-size: 20px;
  line-height: var(--line-height-24, 24px);
} 


.styled-input {
   width: 100%; /* Takes full width of container */
    border: none; /* Removes border completely */
    outline: none; /* Removes focus outline (optional) */
    width: 100%;
    padding: 15px;
    background: transparent; /* Makes background see-through */
    
   
    font-family: inherit; /* Inherits font from parent */
    box-sizing: border-box;
    font-family: var(--font-family-font-1, "Inter-Regular", sans-serif);
  font-size: 18px;
  font-weight: var(--font-weight-400, 400);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensures padding doesn't expand width */
}

}