/* Figma Styles of your File */
:root {
  /* Colors */
  --background: linear-gradient(
    -74.71deg,
    rgba(255, 235, 224, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --bidexpertru-alizarin-crimson: #e12b25;
  --bidexpertru-azure-radiance: #00aaff;
  --bidexpertru-azure-radiance: #00aaff;
  --bidexpertru-black: #000000;
  --bidexpertru-black-30: rgba(0, 0, 0, 0.3);
  --bidexpertru-black-40: rgba(0, 0, 0, 0.4);
  --bidexpertru-blaze-orange: #ff6700;
  --bidexpertru-blue-ribbon: #0450f2;
  --bidexpertru-boulder: #767676;
  --bidexpertru-boulder: #767676;
  --bidexpertru-chateau-green: #4caf50;
  --bidexpertru-dusty-gray: #999999;
  --bidexpertru-gray: #808080;
  --bidexpertru-gray: #8c8c8c;
  --bidexpertru-gray: #828282;
  --bidexpertru-malachite: #04e061;
  --bidexpertru-medium-purple: #965eeb;
  --bidexpertru-mercury: #e5e5e5;
  --bidexpertru-mine-shaft: #333333;
  --bidexpertru-mine-shaft: #222222;
  --bidexpertru-mine-shaft: #282828;
  --bidexpertru-nobel: #b5b5b5;
  --bidexpertru-outer-space: #263238;
  --bidexpertru-persian-green: #00a884;
  --bidexpertru-picton-blue: #37afe2;
  --bidexpertru-silver: #cccccc;
  --bidexpertru-radical-red: #ff4053;
  --bidexpertru-tundora: #4c4c4c;
  --bidexpertru-white: #ffffff;
  --bidexpertru-white-10: rgba(255, 255, 255, 0.1);
  --bidexpertru-white-70: rgba(255, 255, 255, 0.7);
  --bidexpertru-white-80: rgba(255, 255, 255, 0.8);
  --bidexpertru-wild-sand: #f7f7f7;

  /* Fonts */
  --table-font-family: Inter-Medium, sans-serif;
  --table-font-size: 16px;
  --table-line-height: normal;
  --table-font-weight: 500;
  --table-font-style: normal;
  --bidexpertru-semantic-button-font-family: FontAwesome5Free-Solid, sans-serif;
  --bidexpertru-semantic-button-font-size: 32px;
  --bidexpertru-semantic-button-line-height: 32px;
  --bidexpertru-semantic-button-font-weight: 400;
  --bidexpertru-semantic-button-font-style: normal;
  --bidexpertru-semantic-button-font-family: Inter-SemiBold, sans-serif;
  --bidexpertru-semantic-button-font-size: 20px;
  --bidexpertru-semantic-button-line-height: normal;
  --bidexpertru-semantic-button-font-weight: 600;
  --bidexpertru-semantic-button-font-style: normal;
  --bidexpertru-semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --bidexpertru-semantic-heading-1-font-size: 60px;
  --bidexpertru-semantic-heading-1-line-height: 66px;
  --bidexpertru-semantic-heading-1-font-weight: 700;
  --bidexpertru-semantic-heading-1-font-style: normal;
  --bidexpertru-semantic-heading-2-font-family: Inter-SemiBold, sans-serif;
  --bidexpertru-semantic-heading-2-font-size: 30px;
  --bidexpertru-semantic-heading-2-line-height: 35px;
  --bidexpertru-semantic-heading-2-font-weight: 600;
  --bidexpertru-semantic-heading-2-font-style: normal;
  --bidexpertru-semantic-label-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-label-font-size: 12px;
  --bidexpertru-semantic-label-line-height: 16px;
  --bidexpertru-semantic-label-font-weight: 400;
  --bidexpertru-semantic-label-font-style: normal;
  --bidexpertru-semantic-label-font-family: Inter-Medium, sans-serif;
  --bidexpertru-semantic-label-font-size: 20px;
  --bidexpertru-semantic-label-line-height: normal;
  --bidexpertru-semantic-label-font-weight: 500;
  --bidexpertru-semantic-label-font-style: normal;
  --bidexpertru-semantic-link-font-family: FontAwesome5Free-Solid, sans-serif;
  --bidexpertru-semantic-link-font-size: 14px;
  --bidexpertru-semantic-link-line-height: 14px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: HelveticaNeue-CondensedBold,
    sans-serif;
  --bidexpertru-semantic-link-font-size: 14px;
  --bidexpertru-semantic-link-line-height: 16px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 12px;
  --bidexpertru-semantic-link-line-height: 16px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 13px;
  --bidexpertru-semantic-link-line-height: normal;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-input-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-input-font-size: 24px;
  --bidexpertru-semantic-input-line-height: normal;
  --bidexpertru-semantic-input-font-weight: 400;
  --bidexpertru-semantic-input-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 14px;
  --bidexpertru-semantic-link-line-height: 18px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 14px;
  --bidexpertru-semantic-link-line-height: 20px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 15px;
  --bidexpertru-semantic-link-line-height: normal;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 14px;
  --bidexpertru-semantic-link-line-height: normal;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 16px;
  --bidexpertru-semantic-link-line-height: 20px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Medium, sans-serif;
  --bidexpertru-semantic-link-font-size: 16px;
  --bidexpertru-semantic-link-line-height: normal;
  --bidexpertru-semantic-link-font-weight: 500;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 18px;
  --bidexpertru-semantic-link-line-height: 22px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --bidexpertru-semantic-link-font-size: 20px;
  --bidexpertru-semantic-link-line-height: 24px;
  --bidexpertru-semantic-link-font-weight: 600;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --bidexpertru-semantic-link-font-size: 20px;
  --bidexpertru-semantic-link-line-height: normal;
  --bidexpertru-semantic-link-font-weight: 600;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 22px;
  --bidexpertru-semantic-link-line-height: normal;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-font-size: 24px;
  --bidexpertru-semantic-link-line-height: 28px;
  --bidexpertru-semantic-link-font-weight: 400;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --bidexpertru-semantic-link-font-size: 24px;
  --bidexpertru-semantic-link-line-height: normal;
  --bidexpertru-semantic-link-font-weight: 600;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-font-family: Inter-Medium, sans-serif;
  --bidexpertru-semantic-link-font-size: 30px;
  --bidexpertru-semantic-link-line-height: 34px;
  --bidexpertru-semantic-link-font-weight: 500;
  --bidexpertru-semantic-link-font-style: normal;
  --bidexpertru-semantic-link-upper-font-family: Inter-Regular, sans-serif;
  --bidexpertru-semantic-link-upper-font-size: 15px;
  --bidexpertru-semantic-link-upper-line-height: normal;
  --bidexpertru-semantic-link-upper-font-weight: 400;
  --bidexpertru-semantic-link-upper-font-style: normal;
  --bidexpertru-inter-regular-font-family: Inter-Regular, sans-serif;
  --bidexpertru-inter-regular-font-size: 24px;
  --bidexpertru-inter-regular-line-height: 30px;
  --bidexpertru-inter-regular-font-weight: 400;
  --bidexpertru-inter-regular-font-style: normal;
  --bidexpertru-inter-regular-font-family: Inter-Regular, sans-serif;
  --bidexpertru-inter-regular-font-size: 18px;
  --bidexpertru-inter-regular-line-height: 22px;
  --bidexpertru-inter-regular-font-weight: 400;
  --bidexpertru-inter-regular-font-style: normal;
  --bidexpertru-inter-regular-font-family: Inter-Regular, sans-serif;
  --bidexpertru-inter-regular-font-size: 20px;
  --bidexpertru-inter-regular-line-height: 24px;
  --bidexpertru-inter-regular-font-weight: 400;
  --bidexpertru-inter-regular-font-style: normal;
  --bidexpertru-inter-medium-font-family: Inter-Medium, sans-serif;
  --bidexpertru-inter-medium-font-size: 30px;
  --bidexpertru-inter-medium-line-height: 34px;
  --bidexpertru-inter-medium-font-weight: 500;
  --bidexpertru-inter-medium-font-style: normal;
  --bidexpertru-inter-regular-font-family: Inter-Regular, sans-serif;
  --bidexpertru-inter-regular-font-size: 13px;
  --bidexpertru-inter-regular-line-height: normal;
  --bidexpertru-inter-regular-font-weight: 400;
  --bidexpertru-inter-regular-font-style: normal;
  --bidexpertru-inter-regular-font-family: Inter-Regular, sans-serif;
  --bidexpertru-inter-regular-font-size: 14px;
  --bidexpertru-inter-regular-line-height: 20px;
  --bidexpertru-inter-regular-font-weight: 400;
  --bidexpertru-inter-regular-font-style: normal;
  --bidexpertru-helvetica-neue-condensed-bold-font-family: HelveticaNeue-CondensedBold,
    sans-serif;
  --bidexpertru-helvetica-neue-condensed-bold-font-size: 18px;
  --bidexpertru-helvetica-neue-condensed-bold-line-height: 24px;
  --bidexpertru-helvetica-neue-condensed-bold-font-weight: 400;
  --bidexpertru-helvetica-neue-condensed-bold-font-style: normal;
  --bidexpertru-helvetica-neue-condensed-bold-font-family: HelveticaNeue-CondensedBold,
    sans-serif;
  --bidexpertru-helvetica-neue-condensed-bold-font-size: 15px;
  --bidexpertru-helvetica-neue-condensed-bold-line-height: 20px;
  --bidexpertru-helvetica-neue-condensed-bold-font-weight: 400;
  --bidexpertru-helvetica-neue-condensed-bold-font-style: normal;

  /* Effects */
  --card-shadow-box-shadow: 0px 4px 40px 0px rgba(102, 61, 42, 0.07);
  --orange-shadow-box-shadow: 0px 0px 10px 0px rgba(55, 175, 226, 0.4);
}
/* Figma Color Variables of your File */
:root,
[data-bidexpertru-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-black-solid: #000000;
  --color-orange-50: #ff6700;
  --color-grey-20: #333333;
  --color-grey-90: #e5e5e5;
  --color-azure-55: #37afe2;
  --color-cyan-33: #00a884;
  --color-azure-50: #00aaff;
  --color-red-63: #ff4053;
  --color-spring-green-45: #04e061;
  --color-violet-65: #965eeb;
  --color-grey-13: #222222;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-azure-18: #263238;
  --color-azure-48: #0450f2;
  --color-grey-46: #767676;
  --color-green-49: #4caf50;
  --color-grey-60: #999999;
  --color-grey-97: #f7f7f7;
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-grey-30: #4c4c4c;
  --color-grey-71: #b5b5b5;
  --color-grey-50: #808080;
  --color-grey-55: #8c8c8c;
  --color-grey-51: #828282;
  --color-grey-80: #cccccc;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-grey-16: #282828;
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --blue: #155aed;
}
