.header {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 46px;
  border-width: 1px;
  
  border-image-slice: 1;
  width: 97%;
  height: 89px;
  position: fixed;
  left: 42px;
  top: 42px;
  backdrop-filter: blur(7.5px);
}
.link-logo-o-svg {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: var(--width-40, 40px);
  max-height: var(--height-3123, 31.23px);
  position: absolute;
  left: 50px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.logo-o-svg-fill {
  padding: 0px 0.01px 0px 0.01px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 31.23px;
  position: relative;
  overflow: hidden;
}
.logo-o-svg {
  flex-shrink: 0;
  width: 39.98px;
  height: 31.23px;
  position: relative;
  overflow: hidden;
}
.group18 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0.07px;
  overflow: visible;
}
.nav {
  border-style: solid;
  border-color: transparent;
  border-width: 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 694px;
  top: 30px;;
  translate: 0 -50%;
      left: 50%;
    translate: -50%;
}
.list {
  display: flex;
  flex-direction: row;
  gap: var(--item-spacing-15, 15px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tab {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div42 {
  color: var(--color-grey-16, #282828);
  text-align: left;
  font-family: var(--font-family-font-1, "Inter-SemiBold", sans-serif);
  font-size: 16px;
  line-height: var(--line-height-24, 24px);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 50px;
  top: calc(50% - 19px);
}
.button10 {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--color-grey-16, #282828);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.button10:hover{
  background-color: #CCCCCC;
}

.div43 {
  color: var(--color-grey-16, #282828);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.button11 {
  background: var(--color-orange-50, #ff6700);
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}



.div44 {
  color: var(--color-white-solid, #ffffff);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.styled-input {
   width: 100%; /* Takes full width of container */
    border: none; /* Removes border completely */
    outline: none; /* Removes focus outline (optional) */
    width: 100%;
    padding: 15px;
    background: transparent; /* Makes background see-through */
    
   
    font-family: inherit; /* Inherits font from parent */
    box-sizing: border-box;
    font-family: var(--font-family-font-1, "Inter-Regular", sans-serif);
  font-size: 18px;
  font-weight: var(--font-weight-400, 400);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensures padding doesn't expand width */
}

.input2 {
  background: var(--color-white-solid, #ffffff);
  border-radius: 26px;
  border-style: solid;
  border-color: var(--color-grey-80, #cccccc);
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 47px;
  position: relative;
  overflow: hidden;
}